*{
    margin: 0;
    padding: 0;
}
html , body{
    height: 100%;
    width: 100%;
    
}

#page1{
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url(./OIP.jfif) no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    width: 90%;
    padding: 3vh 1vh;
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #eeeeee;
}

.menu{
    display: none;
}

nav ul li .fa{
    padding-right: 10px;
}
nav ul li:hover .menu{
    display: block;
    position: absolute;
    background: transparent;
    margin-top: 1px;
    margin-left: 15px;   
}

nav ul li .menu:hover a{
    color: rgb(231, 229, 229);
}

nav ul li:hover .menu ul li{
    padding: 10px;
    border-bottom: 1px dotted #ac1919;
}

nav ul li:hover .menu ul li a:hover{
    color: #ac1919;
}

.center{
    font-size:xx-large;
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}