*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100vh;
    width: 100%;
    position: absolute;
    background: url(./OIP.jfif) no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    padding: 2vh 2vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}


#nav-part2 h4{
    padding: 1vw 1vw;
    position: relative;
    border: 1px solid black;
    border-radius: 40px;
    overflow: hidden;
}

#nav-part2 h4 a{
    text-decoration: none;
    color: black;
    position: relative;
    z-index: 99;
}

#nav-part2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -100%;
    background-color: black;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    transition: all ease 0.3s;
}

#nav-part2 h4:hover a{
    color: white;
}


#center{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    padding-top: 15vh;
}

.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(9, 137, 223, 0.966);
    backdrop-filter: blur(9px);
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(3, 3, 3, 0.979);
    border-radius: 40px;
    font-size: 16px;
    color: #f7f5f5d5;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #000000;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 30%;
    font-size: 20px;
  
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #0fc8e9;
    margin-right: 3px;
  
}


.remember-forgot a{
    color: #0e50df;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
    color: rgb(160, 2, 2);
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #5cc7da;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p{
    color: rgb(9, 99, 201);
}
.register-link p a{
    color: #5335c0;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
    color: #10cc3f;
}